.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 50%;
}
.message__current {
	align-self: flex-end;
	align-items: flex-end;
}
.message__current .message__text {
	align-self: flex-end;
}

.message__text {
	padding: 0.3rem 0.8rem;
	border-radius: 1.2rem;
	color: black;
	background-color: white;
	align-self: flex-start;
	margin-bottom: 0.25rem;
}
.message__user {
	font-size: 0.88rem;
	padding-left: 0.2rem;
	opacity: 0.8;
}
.message__data {
	font-size: 0.6rem;
	padding-left: 0.2rem;
}
